* {
    box-sizing: border-box;
}

body {
    background-color: #dfba90;
    margin: 0px;
}

#hero {
    background-image: 
        url("../images/atlas\ moth.avif");
    align-self: center;
    background-size: 100%, 60%;
    background-position: left center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10vw;
}

#single-column-layout {
    max-width: 1200px;
    margin: 48px auto;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    border: 5px solid #4e310a;
    background-color: #917e5b;
}

.grid-gallery img {
    width: 100%;
}