/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it-bloo {
    background-color: aliceblue;
    display: inline-block;
    width: 150px;
    height: 150px;
    font-family: sans-serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
}
.post-it-pink {
    background-color: rgb(255, 149, 181);
    display: inline-block;
    width: 150px;
    height: 150px;
    font-family: helvetica;
    padding: 24px;
    vertical-align: top;
}
.post-it-yeller {
    background-color: rgb(252, 241, 90);
    display: inline-block;
    width: 150px;
    height: 150px;
    font-family: papyrus;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
}
.post-it-uglygreen {
    background-color: rgb(90, 252, 98);
    display: inline-block;
    width: 150px;
    height: 190px;
    font-family: papyrus;
    margin: 24px;
    padding: 24px;
    vertical-align: bottom;
}
.post-it-redd {
    background-color: rgb(252, 90, 90);
    display: inline-block;
    width: 150px;
    height: 250px;
    font-family: 'Lucida Sans';
    margin: 24px;
    padding: 24px;
    vertical-align: bottom;
}
.post-it-list {
    background-color: rgb(204, 171, 171);
    display: inline-block;
    width: 167px;
    height: 250px;
    font-family: 'Gill Sans';
    margin: 24px;
    padding: 24px;
    vertical-align: bottom;
}