* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#column {
    max-width: 800px;
    margin: 48px auto;
}

.side-by-side {
    display: flex;
}

.side-by-side .image-container,
.side-by-side .container {
    flex: 1;
}

.side-by-side .image-container img {
    width: 100%;
}

#recipe {
    gap: 36px;
    align-items: center;
    padding: 36px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 60px;
}

#recipe img {
    height: 450px;
    object-fit: cover;
}

#recipe h1 {
    font-family: serif;
}

#recipe h5 {
    letter-spacing: 2px;
    font-weight: 100;
}

#recipe .times {
    font-size: 10px;
    letter-spacing: 1px;
}

#recipe .times.side-by-side {
    gap: 36px;
    margin-bottom: 12px;
}

.bold {
    font-weight: bold;
}

#recipe p {
    font-size: 12px;
    line-height: 18px;
}

#recipe a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 12px;
    margin-top: 8px;
    transition:
        background-color 0.75s,
        color 0.75s;
}

#recipe a:hover {
    background-color: blanchedalmond;
    color: black;
}

#column h2 {
    text-align: center;
    font-size: 36px;
    font-family: serif;
}

#carosel {
    gap: 35px;
}

#carosel .sorta-card {
    flex: 1;
    text-align: center;
}

#carosel .sorta-card a {
    color: black;
    text-decoration: none;
}

#carosel .sorta-card a:hover img {
    opacity: 0.6;
}

#carosel .sorta-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#carosel .sorta-card h4 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
}