* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

.navbar {
    background: #1d1f41;
    padding: 1rem 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #8a70ff;
}

.hero {
    background-image: url('../images/urban-hi-res-1ui7.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    text-align: center;
}


.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}

.hero .btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background: #7891ff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.hero .btn:hover {
    background: #004a68;
}


